<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="odgovor">
            <h2><span>Odgovor</span> {{odgovor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tekst</span></dt>
                <dd>
                    <span>{{odgovor.tekst}}</span>
                </dd>
                <dt><span>Tacan</span></dt>
                <dd>
                    <span>{{odgovor.tacan}}</span>
                </dd>
                <dt><span>Pojasnjenje</span></dt>
                <dd>
                    <div *ngIf="odgovor.pojasnjenjeId">
                        <a [routerLink]="['/pojasnjenje', odgovor.pojasnjenjeId, 'view']">{{odgovor.pojasnjenjeId}}</a>
                    </div>
                </dd>
                <dt><span>Pitanje</span></dt>
                <dd>
                    <div *ngIf="odgovor.pitanjeId">
                        <a [routerLink]="['/pitanje', odgovor.pitanjeId, 'view']">{{odgovor.pitanjeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/odgovor', odgovor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
